@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Tài Khoản</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .full-height {
            height:outo; /* Chiều cao của container bằng chiều cao màn hình */
        }
    </style>
</head>
<body>

    <div class="container full-height d-flex flex-column justify-content-center align-items-center">
        <h1>Thông Tin Tài Khoản</h1>

        <div class="text-center">
            <p><strong>Ngân hàng:</strong> ABC</p>
            <p><strong>Số tài khoản:</strong> 123456789</p>
        </div>

        <div class="text-center">
            <h2>Mã QR thanh toán</h2>
            <img src="~/img/QR.jpg" alt="" style="width: 250px; height: auto;" />
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
